*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    font-family: 'Outfit',Helvetica,sans-serif;
}
body{
    background-image: url('https://media.istockphoto.com/id/1350717417/photo/young-woman-talking-on-smart-phone-at-home-office.jpg?s=612x612&w=0&k=20&c=JyAyPBG9yLIvIiYCjDLEgpY2tVQ76AKNjVOwigXRGV0=');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    
}
#container{
    background-color: #bfb8ad8a;
    padding: 30px;
width: 100%;
max-width: 500px;
border-radius: 20px;
z-index: 2;
}
.contact-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: inherit;
    z-index: 1;
}
#container .form input, textarea{
    all: unset;
    width: 90%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid green;
}

#container label {
    display: block;
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}

#container label:first-child {
    margin-top: 0;
}

#container .form input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: all .3s;
    border: none;
}

#container .form input:invalid, textarea:invalid {
    border: 1px solid red;
}

#container .form input[type="submit"]:hover {
    background-color: #222;
}

.icons{
    position: absolute;
    width: 170px;
    bottom: 35px;
}
.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size: 20px;
    color: hsl(240,100%,25%);
    text-decoration: none;
}